<footer class="py-5" id="footer-main">
        <div class="container">
  
    

              <!-- Modal HTML -->
        <div id="myModal_form_logbook" class="modal fade">
          <div class="modal-dialog modal-login">
              <div class="modal-content">
                  <div class="modal-header">				
                      <h5 class="modal-title">Isi Logbook Harian</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  </div>
                  <div class="modal-body">
                     
                          <div class="form-group">
                              <i class="fa fa-list-ul"></i>
                              <select class="form-control" id="select_SKP">
                                  <option value="">Pilih SKP</option>
                              </select> 
                          </div>
               
                          <div class="form-group">
                              <i class="fa fa-envelope-open"></i>
                              <textarea class="form-control" id="isian_logbook" placeholder="Isi Pekerjaan" rows="3" required="required"></textarea>					
                          </div>
                          <div class="form-group">
                              <input type="button" class="btn btn-primary btn-block btn-lg" value="Kirim LogBook" onclick="post_data_logbook();">
                          </div>
                              
                      
                  </div>
                  <div class="modal-footer">
                      <a href="#"></a>
                  </div>
              </div>
          </div>
      </div>

      
      <div id="myModal_info" class="modal fade">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <div class="modal-header">				
                    <h5 class="modal-title">Informasi Aplikasi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body" style="padding:0px;">
                   
                       
                                <div class="card-header">
                                  <div class="row align-items-center">
                                    <div class="col-12">
                                      <h5 class="mb-0">Login Frontend </h5>
                                    </div>
                                  </div>
                                </div>

                                <div class="card-body">
                                    <h5 class="mb-0">Username Pemda : admin@gmail.com</h5> 
                                    <h5 class="mb-0">Password : 12345</h5> 
                                </div>
                  
                    
                </div>
                <div class="modal-footer">
                    <a href="#"></a>
                </div>
            </div>
        </div>
    </div>

      
      </footer>

<!-- Argon Scripts -->
  <!-- Core -->
  <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/js-cookie/js.cookie.js"></script>
  <script src="assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
  <script src="assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
  <!-- Argon JS -->
  <script src="assets/js/argon.js?v=1.2.0"></script>
  <script src="assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
  <!-- sweetalert-->
  <script src="assets/js/scripts.js"></script>


  <script>



  function link_dashboard(){
      var get_nip = $("#get_nip").val(); 
      window.location.href = "https://siperem.herokuapp.com/dashboard/";

  }

  function link_perawatan(){
      var get_nip = $("#get_nip").val(); 
      window.location.href = "https://siperem.herokuapp.com/monitoring/";

  }

  function link_pembangunan(){
      var get_nip = $("#get_nip").val(); 
      window.location.href = "https://siperem.herokuapp.com/pembangunan/";

  }

  function notifmessage(status,get_id){

if (status === 'success-message') {
  Swal.fire({
      title: 'Usulan perbaikan diterima !',
      icon: 'success',
      showConfirmButton: false,
      html:
          'Usulan perbaikan telah diterima',
      timer: 2000,
  })
  .then(function (result) {
      window.location.href = "https://siperem.herokuapp.com/monitoring/"+get_id;
  })
} 

if (status === 'success-message-pmb') {
  Swal.fire({
      title: 'Usulan pembangunan diterima !',
      icon: 'success',
      showConfirmButton: false,
      html:
          'Usulan pembangunan telah diterima',
      timer: 2000,
  })
  .then(function (result) {
      window.location.href = "https://siperem.herokuapp.com/view_pembangunan/"+get_id;
  })
} 
}

function notifreject(status,get_id){

if (status === 'success-reject') {
  Swal.fire({
      title: 'Usulan perbaikan ditolak !',
      icon: 'success',
      showConfirmButton: false,
      html:
          'Usulan perbaikan telah ditolak',
      timer: 2000,
  })
  .then(function (result) {
      window.location.href = "https://siperem.herokuapp.com/monitoring/"+get_id;
  })
}
if (status === 'success-reject-pmb') {
  Swal.fire({
      title: 'Usulan pembangunan ditolak !',
      icon: 'success',
      showConfirmButton: false,
      html:
          'Usulan pembangunan telah ditolak',
      timer: 2000,
  })
  .then(function (result) {
      window.location.href = "https://siperem.herokuapp.com/view_pembangunan/"+get_id;
  })
}
}

</style>